@use './src/styles/scss/colors';
@use './src/styles/scss/buttons';
@use './src/styles/scss/fonts';
@use './src/styles/scss/mixins';

.cart {
  width: 400px;
  position: fixed;
  right: 0;
  bottom: 0;
  top: 80px;
  background: colors.$white;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 20px;
  z-index: -1;
  transition: ease all .3s;
  @include mixins.custom-box-shadow($offsetY: 10px);

  .item {
    display: flex;
    gap: 10px;
    align-items: flex-start;

    a {
      padding: 0;
      margin: 0;
    }

    p {
      text-transform: none;
    }

    div {
      display: flex;
      flex-direction: column;
    }

    img {
      width: 100px;
      height: 100%;
      object-fit: contain;
      border: 1px solid colors.$secondary_light;
      border-radius: 4px;
    }

    .details {

    }

    .price {
      color: colors.$quaternary;
      font-size: fonts.$disclaimer;
    }

    svg {
      width: 100%;
      max-width: 50px;
      opacity: 1;
      cursor: pointer;
      transition: ease all .3s;

      path {
        stroke-width: 0.8px;
      }
      &:hover {
        opacity: .7;
      }
    }
  }

  button {
    @include buttons.button;
    @include buttons.buttonPrimary;
  }

  .reset {
    font-size: fonts.$disclaimer;
    color: colors.$quaternary;
    text-align: center;
    cursor: pointer;
  }

  .total {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 0;
    color: colors.$quaternary;

  }

  @media screen and (max-width: 425px){
    max-width: 100vw;
  }
}