@use './src/styles/scss/colors';
@use '../../styles/scss/breakpoints';

$alignments: (left, center, right);

.section_title {
  position: relative;
  display: flex;
  flex-direction: column;

  &[data-border] {
    &:after {
      content: '';
      position: absolute;
      border: 1px solid colors.$secondary;
      bottom: 20px;
      width: 190px;
    }
  }

  &[data-variant='h5'] {
    &:after {
      bottom: 10px;
    }
  }

  &[data-variant='h6'],
  &[data-variant='p'],
  &[data-variant='disclaimer'] {
    &:after {
      bottom: 5px;

    }
  }

  &[data-border='light'] {
    &:after {
      border: 1px solid colors.$secondary_light;
    }
  }

  &[data-border='bold'] {
    &:after {
      border: 2px solid colors.$quaternary;
    }
  }

  &[data-alignment="center"]:after {
    left: 50%;
    transform: translateX(-50%);
  }

  &[data-alignment="right"]:after {
    left: unset;
    right: 5px;
  }

  &[data-alignment="left"]:after {
    left: 5px;
  }

  @media (max-width: breakpoints.$smallMobileBreakpoint) {
    &[data-border] {
      &:after {
        width: 90px;
        bottom: 10px;
      }
    }
  }
}