@use '../../styles/scss/fonts';
@use '../../styles/scss/breakpoints';

$fonts: ("h1": fonts.$h1, "h2": fonts.$h2, "h3": fonts.$h3, "h4": fonts.$h4, "h5": fonts.$h5, "h6": fonts.$h6, "p": fonts.$p, "disclaimer":fonts.$disclaimer);
$weights: ("light": 300, "regular": 400, "medium":500, "bold":700);
$alignments: (left, center, right);

.typography {

  @each $name, $font in $fonts {
    &[data-variant=#{$name}] {
      font-size: $font;
      line-height: 1em;
      margin: .2em 0 .8em;
    }
  }

  @each $name, $weight in $weights {
    &[data-weight=#{$name}] {
      font-weight: $weight;
    }
  }
  @each $name in $alignments {
    &[data-alignment=#{$name}] {
      text-align: $name;
    }
  }
  @media (max-width: breakpoints.$smallMobileBreakpoint) {
    &[data-variant=h3],&[data-variant=h4] {
      font-size: 30px;
    }
  }
}