@use './src/styles/scss/colors';
@use './src/styles/scss/mixins';
@use './src/styles/scss/fonts';
@use './src/styles/scss/breakpoints' as bp;

$headerHeight: 80px;

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  height: $headerHeight;
  @include mixins.custom-box-shadow;
  background-color: colors.$white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 99;

  a {
    font-family: 'Lato', sans-serif;
    font-size: 22px;
    color: colors.$black;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    position: relative;
    padding: 0 15px;
    margin: 0 30px;

    &:last-of-type {
      padding-right: 0;
    }
  }

  .nav_container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      list-style-type: none;
      width: 100%;
    }

    .cart_container {
      position: fixed;
      right: 10px;
      top: 0;
      height: $headerHeight;
      display: flex;
      align-items: center;

      .cart {
        position: relative;

        span {
          position: absolute;
          font-size: fonts.$disclaimer;
          color: colors.$white;
          display: flex;
          align-items: center;
          background-color: colors.$secondary;
          width: 20px;
          height: 20px;
          border-radius: 50%;
          justify-content: center;
          right: -12px;
          top: -8px;
        }
      }
    }

    .burger {
      width: 100px;
      right: 40px;
      position: relative;
      cursor: pointer;

      .bar1, .bar2, .bar3 {
        width: 35px;
        height: 5px;
        background-color: colors.$secondary;
        margin: 6px 0;
        transition: 0.4s;
      }

      &.active {
        .bar1 {
          transform: translate(0, 11px) rotate(-45deg);
        }

        .bar2 {
          opacity: 0;
        }

        .bar3 {
          transform: translate(0, -11px) rotate(45deg);
        }
      }
    }
  }


  @media (max-width: bp.$tabletMediumBreakpoint) {
    .nav_container {
      .nav {
        display: none;

        &.active {
          display: flex;
          gap: 30px;
          flex-direction: column;
          position: absolute;
          top: 80px;
          padding: 30px;
          background-color: colors.$white;

        }
      }
    }
  }
}

