@use "./src/styles/scss/breakpoints";
@use "./src/styles/scss/container";
@use "./src/styles/scss/colors";
@use "./src/styles/scss/fonts";

.footer {
  border-top: 1px solid colors.$secondary_light;
  margin-top: 100px;
  padding: 50px 0;

  &_content {
    @include container.container;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
  }

  ul {
    display: flex;
    list-style: none;
    width: 100%;

    li a {
      padding: 0 15px;
      text-transform: uppercase;
      text-decoration: none;
      cursor: pointer;
      color: colors.$text;
      font-weight: 500;
      font-size: fonts.$p;
      letter-spacing: .7px;
    }
  }

  .copyrights p {
    font-size: fonts.$disclaimer;
    text-align: center;
    color: colors.$text_light;
    padding-top: 20px;
  }

  .logo_container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .social_container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: row;

    span {
      padding-right: 30px;
      text-transform: uppercase;
      color: colors.$text;
      font-weight: 500;
      font-size: fonts.$p;
    }
  }

  @media (max-width: breakpoints.$tabletMediumBreakpoint) {
    &_content {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr 1fr;
      justify-items: center;

      div {
        order: 2;

        &.logo_container {
          order: 1;
        }
      }

      ul {
        flex-direction: column;
        align-items: center;
      }
    }
  }

  @media (max-width: breakpoints.$smallMobileBreakpoint) {
    ul {
      margin: 10px 0 0;
      li{
        a  {
          font-size: fonts.$disclaimer;
        }
      }
    }
    .social_container span {
      font-size: fonts.$disclaimer;
    }

  }
}
