@use './src/styles/scss/breakpoints' as *;

.products {
  display: flex;
  gap: 20px;
  margin: 50px auto;

  @media (max-width: $tabletBreakpoint) {
    flex-wrap: wrap;
    justify-content: center;
  }
}