$white: #fff;
$black: #000;

$primary: #cdc8c4;
$secondary: #7e726a;
$tertiary: rgba(99, 83, 71, .3);
$quaternary: #635347;

$text: #1d1d1d;
$text_light: rgba(45, 45, 45, 0.25);

$secondary_light: rgba(124, 124, 124, 0.25);