@use './breakpoints';
$contentWidth: 1200px;

@mixin container() {
  width: min(100%, $contentWidth);
  margin-inline: auto;
}

@mixin fullHeight() {
  min-height: fit-content;
}

.container {
  @include container;

  @media (max-width: breakpoints.$tabletMediumBreakpoint) {
    padding: 0 10px;
  }
}