$contentWidth: 1200px;

@mixin container() {
  width: min(100%, $contentWidth);
  margin-inline: auto;
}

@mixin fullHeight() {
  min-height: calc(100vh - 80px - 230px);
}

.container {
  @include container
}