@use 'fonts';
@use 'colors';

@import "reset";
@import "spacings";
@import "container";

body, html {
  width: 100vw;
  overflow-x: hidden;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: fonts.$p;
  color: colors.$black;
  padding-top: 80px;
}
